@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 40px;
  color: #1098ad;
}

p {
  font-size: 20px;
}

strong {
  color: #000;
}

h2 {
  font-size: 32px;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #228392;
}

.mercury-title {
  color: #8a7777;
}

.mercury-section {
  padding: 40px;
  border-top: 7px solid #8a7777;
  border-bottom: 7px solid #8a7777;
  margin-bottom: 20px;
  background-color: #8a777744;
}

.venus-title {
  color: orange;
}

.venus-section {
  padding: 40px;
  border-top: 7px solid #ffa500;
  border-bottom: 7px solid #ffa500;
  background-color: #ffa6005d;
  margin-bottom: 20px;
}

.earth-title {
  color: #0000ff;
}

.earth-section {
  padding: 40px;
  border-top: 7px solid #0000ff;
  border-bottom: 7px solid #0000ff;
  margin-bottom: 20px;
  background-color: #0000ff18;
}

.mars-title {
  color: #ff4500;
}

.mars-section {
  padding: 40px;
  border-top: 7px solid #ff4500;
  border-bottom: 7px solid #ff4500;
  margin-bottom: 20px;
  background-color: #ff44004d;
}

.jupiter-title {
  color: #9e6919;
}

.jupiter-section {
  padding: 40px;
  border-top: 7px solid #9e6919;
  border-bottom: 7px solid #9e6919;
  margin-bottom: 20px;
  background-color: #9e691946;
}

.saturn-title {
  color: #ac825f;
}

.saturn-section {
  padding: 40px;
  border-top: 7px solid #ac825f;
  border-bottom: 7px solid #ac825f;
  margin-bottom: 20px;
  background-color: #ac825f3a;
}

.uranus-title {
  color: #40a7b4;
}

.uranus-section {
  padding: 40px;
  border-top: 7px solid #40a7b4;
  border-bottom: 7px solid #40a7b4;
  margin-bottom: 20px;
  background-color: #40a7b428;
}

.neptune-title {
  color: #0000ff;
}

.neptune-section {
  padding: 40px;
  border-top: 7px solid #0000ff;
  border-bottom: 7px solid #0000ff;
  margin-bottom: 20px;
  background-color: #0000ff46;
}

.planet-img {
  height: 100%;
  width: 100%;
}

.planet-img-wrapper {
  height: 50%;
  width: 50%;
  margin: auto;
}
