@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
}
h1 {
  font-size: 40px;
  color: #0a1128;
}
p {
  font-size: 20px;
}
strong {
  color: #034078;
}
h2 {
  font-size: 32px;
}
