@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 40px;
  color: #1098ad;
}

p {
  font-size: 20px;
}

strong {
  color: #000;
}

h2 {
  font-size: 32px;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #228392;
}

.mercury-section {
  padding: 40px;
  border-top: 7px solid #8a7777;
  border-bottom: 7px solid #8a7777;
  margin-bottom: 20px;
  background-color: #8a777744;

  .title {
    color: #8a7777;
  }
}

.venus-section {
  padding: 40px;
  border-top: 7px solid #ffa500;
  border-bottom: 7px solid #ffa500;
  background-color: #ffa6005d;
  margin-bottom: 20px;

  .title {
    color: orange;
  }
}

.earth-section {
  padding: 40px;
  border-top: 7px solid #0000ff;
  border-bottom: 7px solid #0000ff;
  margin-bottom: 20px;
  background-color: #0000ff18;

  .title {
    color: #0000ff;
  }
}

.mars-section {
  padding: 40px;
  border-top: 7px solid #ff4500;
  border-bottom: 7px solid #ff4500;
  margin-bottom: 20px;
  background-color: #ff44004d;

  .title {
    color: #ff4500;
  }
}

.jupiter-section {
  padding: 40px;
  border-top: 7px solid #9e6919;
  border-bottom: 7px solid #9e6919;
  margin-bottom: 20px;
  background-color: #9e691946;

  .title {
    color: #9e6919;
  }
}

.saturn-section {
  padding: 40px;
  border-top: 7px solid #ac825f;
  border-bottom: 7px solid #ac825f;
  margin-bottom: 20px;
  background-color: #ac825f3a;

  .title {
    color: #ac825f;
  }
}

.uranus-section {
  padding: 40px;
  border-top: 7px solid #40a7b4;
  border-bottom: 7px solid #40a7b4;
  margin-bottom: 20px;
  background-color: #40a7b428;

  .title {
    color: #40a7b4;
  }
}

.neptune-section {
  padding: 40px;
  border-top: 7px solid #0000ff;
  border-bottom: 7px solid #0000ff;
  margin-bottom: 20px;
  background-color: #0000ff46;

  .title {
    color: #0000ff;
  }
}

.planet-img-wrapper {
  height: 50%;
  width: 50%;
  margin: auto;

  img {
    width: 100%;
    height: 100%;
  }
}

ol {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px; /* Adjust spacing as needed */
}
